@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600&family=Open+Sans&display=swap');
*{
 margin: 0;
 padding:0;
}

.container{
    display: grid;
    place-items: center;
    height: 90vh;
}


section{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr

}

section .banner{
    display: flex;
    color:white;
    font-family: 'Exo 2', sans-serif;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background: rgb(98,164,241);
    background: linear-gradient(121deg, rgba(98,164,241,1) 0%, rgba(127,75,238,1) 44%, rgba(155,114,242,1) 100%);
}

section .sign-container{
    padding:10px;
}

.form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button{
    font-family: 'Open Sans', sans-serif;
    margin:30px;
    padding: 10px;
    border:none;
    border-radius: 10px;
    width: 100px;
    font-weight:bold;
    background: rgb(230,174,140);
    background: linear-gradient(121deg, rgba(230,174,140,1) 0%, rgba(168,206,207,1) 100%);
}


.input-group{
    margin:5px

}

.form-container input{
    font-size: 16px;
    padding: 10px 5px;
    background-color: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 2px
}

.form-container input:focus{
    outline: 1px solid rgb(98,164,241);
    border: none;

}
select:focus{
    outline: 1px solid rgb(98,164,241);
    border: none;
}

select{
    padding: 10px 5px;
    background-color: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    width: 207px
}

.input-group .error{
        font-size: 12px;
        color: rgb(206, 67, 67);
}

a{
    text-decoration:none;
    color: rgb(98,164,241);
    font-weight: bold;
}

.input-group.success input {
    border-color: #0cc477
}

.input-group.success select {
    border-color: #0cc477
}

.input-group.error input{
    border-color: rgb(206, 67, 67)
}

.input-group.error select{
    border-color: rgb(206, 67, 67)
}